In [1]:
import pandas as pd
import numpy as np

In [2]:
file=r"C:\Users\Manasi\OneDrive\Desktop\Training\satday-4-sept-quiz\bike_sharing_hours.csv"

In [3]:
data = pd.read_csv(file)

In [4]:
data.head(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [22]:
data['casual'].value_counts(dropna=False)

0      1581
1      1082
2       798
3       697
4       561
       ...
290       1
312       1
281       1
297       1
367       1
Name: casual, Length: 322, dtype: int64

## Q1

### 1.

In [20]:
data['cnt'].mean()

189.46308763450142

In [6]:
from scipy.stats import ttest_1samp

In [21]:
ttest_1samp(data['cnt'],popmean=189.46)

Ttest_1sampResult(statistic=0.0022440404671376694, pvalue=0.9982095420179923)

In [ ]:
### There is significant diff between first 6 months Vs last 6 months of the year for avg number of rented bikes.

### 2.

In [41]:
a = data.groupby('season').agg({'temp':'mean'})
a.reset_index()

   season      temp
0       1  0.299147
1       2  0.544663
2       3  0.706410
3       4  0.423138

In [38]:
from scipy.stats import ttest_1samp

In [42]:
data['temp'].mean()

0.4969871684216586

In [44]:
ttest_1samp(data['temp'],popmean=0.49)

Ttest_1sampResult(statistic=4.783615608217548, pvalue=1.7358282267877039e-06)

In [ ]:
# temp has significantly changed

### 3

In [23]:
data.groupby('weekday').mean()

,instant,season,yr,mnth,hr,holiday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
weekday,,,,,,,,,,,,,,,
0,8697.580735,2.490408,0.507994,6.487210,11.555156,0.000000,0.000000,1.362110,0.483821,0.465507,0.627994,0.188093,56.163469,121.305356,177.468825
1,8645.734167,2.488503,0.501815,6.479225,11.556676,0.144010,0.855990,1.431222,0.495046,0.475908,0.635651,0.188863,28.553449,155.191206,183.744655
2,8665.830004,2.529148,0.501834,6.516918,11.622095,0.009376,0.990624,1.476152,0.508569,0.487179,0.639833,0.191917,23.580514,167.658377,191.238891
3,8703.582222,2.510707,0.503434,6.543838,11.527273,0.009697,0.990303,1.485657,0.506675,0.483528,0.644820,0.187172,23.159192,167.971313,191.130505
4,8739.579927,2.521651,0.504249,6.590045,11.556050,0.019425,0.980575,1.402266,0.507017,0.485021,0.609628,0.191987,24.872521,171.564144,196.436665
5,8725.739043,2.495778,0.501809,6.593888,11.527945,0.019300,0.980700,1.412143,0.496429,0.471828,0.613840,0.186430,31.458786,164.677121,196.135907
6,8652.199841,2.476115,0.496815,6.553344,11.483678,0.000000,0.000000,1.408838,0.481847,0.461909,0.619084,0.196190,61.246815,128.962978,190.209793

In [34]:
weekday_grps=[data.loc[data['weekday']==q,'casual'].values 
              
              for q in data['weekday'].unique() ]

In [35]:
data['weekday'].value_counts()

6    2512
0    2502
5    2487
1    2479
3    2475
4    2471
2    2453
Name: weekday, dtype: int64

In [36]:
from scipy.stats import f_oneway

In [37]:
f_oneway(*weekday_grps)

F_onewayResult(statistic=294.28459311649124, pvalue=0.0)

In [ ]:
# conclusion- there is atleast one mean significantly different. Hence it does matter 
#which weekday it is torent bike casually

## Q2

In [11]:
# $$ 2x + 3y + 4z^2 = 23 \ y^2 - x^2 = 3 $$

In [32]:
import numpy as np

A = [[2, 3, 4], [1, 1, 0], [-1, 1, 0]]
b = [23, 1, 3]
invA = np.linalg.inv(A)
x= np.dot(invA,b)
x

A1 = [[2, 3, 4], [1, 1, 0], [-1, 1, 0]]
b1 = [23, 3, 1]
invA1 = np.linalg.inv(A1)
x1 = np.dot(invA1,b1)
x1

print('x= ',x,'\n','x1= ',x1)

x=  [-1.    2.    4.75]
 x1=  [1.   2.   3.75]